# Titanic dataset undestanding , manipulation , Data cleaning.

In [1]:
import numpy as np
import pandas as pd
from sklearn import svm
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [2]:
X_Y_train = pd.read_csv("train_titanic.csv",delimiter=',')
X_test =pd.read_csv("test_titanic.csv",delimiter=',')

In [3]:
print(X_Y_train.shape)
print(X_Y_train.head())
(X_test.head())

(668, 11)
   Pclass                                            Name     Sex   Age  \
0       2   Weisz, Mrs. Leopold (Mathilde Francoise Pede)  female  29.0
1       3               Williams, Mr. Howard Hugh "Harry"    male   NaN
2       2  Morley, Mr. Henry Samuel ("Mr Henry Marshall")    male  39.0
3       3     Palsson, Mrs. Nils (Alma Cornelia Berglund)  female  29.0
4       3                          Sutehall, Mr. Henry Jr    male  25.0

   SibSp  Parch           Ticket    Fare Cabin Embarked  Survived
0      1      0           228414  26.000   NaN        S         1
1      0      0         A/5 2466   8.050   NaN        S         0
2      0      0           250655  26.000   NaN        S         0
3      0      4           349909  21.075   NaN        S         0
4      0      0  SOTON/OQ 392076   7.050   NaN        S         0

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,2,"Davies, Master. John Morgan Jr",male,8.0,1,1,C.A. 33112,36.7500,NaN,S
1,1,"Leader, Dr. Alice (Farnham)",female,49.0,0,0,17465,25.9292,D17,S
2,3,"Kilgannon, Mr. Thomas J",male,NaN,0,0,36865,7.7375,NaN,Q
3,2,"Jacobsohn, Mrs. Sidney Samuel (Amy Frances Chr...",female,24.0,2,1,243847,27.0000,NaN,S
4,1,"McGough, Mr. James Robert",male,36.0,0,0,PC 17473,26.2875,E25,S

In [4]:
X_Y_train.describe(include='all')
#describes data , include all shows string values also by default describe only shows int values

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
count,668.000000,668,668,536.000000,668.000000,668.000000,668,668.000000,154,667,668.000000
unique,NaN,668,2,NaN,NaN,NaN,524,NaN,119,3,NaN
top,NaN,"Boulos, Mrs. Joseph (Sultana)",male,NaN,NaN,NaN,1601,NaN,G6,S,NaN
freq,NaN,1,427,NaN,NaN,NaN,6,NaN,4,484,NaN
mean,2.296407,NaN,NaN,29.700560,0.528443,0.407186,NaN,32.064552,NaN,NaN,0.402695
std,0.831638,NaN,NaN,14.240257,1.080327,0.854695,NaN,45.320835,NaN,NaN,0.490808
min,1.000000,NaN,NaN,0.670000,0.000000,0.000000,NaN,0.000000,NaN,NaN,0.000000
25%,2.000000,NaN,NaN,21.000000,0.000000,0.000000,NaN,7.925000,NaN,NaN,0.000000
50%,3.000000,NaN,NaN,29.000000,0.000000,0.000000,NaN,14.750000,NaN,NaN,0.000000
75%,3.000000,NaN,NaN,38.250000,1.000000,0.000000,NaN,31.275000,NaN,NaN,1.000000
max,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN,1.000000

In [5]:
X_Y_train.isnull().sum()
#displays the sum on null entries corresponding to column

Pclass        0
Name          0
Sex           0
Age         132
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       514
Embarked      1
Survived      0
dtype: int64

In [6]:
#on basis of understanding gained from dataset we drop some columns that are of less meaning or doesnt contribute much weight in dataset
del X_Y_train["Name"]
del X_Y_train["Ticket"]
del X_Y_train["Cabin"]
del X_Y_train["Fare"]
X_Y_train.head()

   Pclass     Sex   Age  SibSp  Parch Embarked  Survived
0       2  female  29.0      1      0        S         1
1       3    male   NaN      0      0        S         0
2       2    male  39.0      0      0        S         0
3       3  female  29.0      0      4        S         0
4       3    male  25.0      0      0        S         0

In [7]:
#same delete process is applied on test data
del X_test["Name"]
del X_test["Ticket"]
del X_test["Cabin"]
del X_test["Fare"]

In [8]:
# we check leftover na's and fill them with the median of dataset column valuea
print(X_Y_train.isnull().sum())
print(X_Y_train.shape)
X_Y_train = X_Y_train.fillna(X_Y_train.median())
print(X_Y_train.isnull().sum())
X_Y_train.shape

Pclass        0
Sex           0
Age         132
SibSp         0
Parch         0
Embarked      1
Survived      0
dtype: int64
(668, 7)
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Embarked    1
Survived    0
dtype: int64

(668, 7)

In [9]:
# few leftover na's are dropped
X_Y_train.dropna(inplace=True)
print(X_Y_train.isnull().sum())
X_Y_train.shape

Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Embarked    0
Survived    0
dtype: int64

(667, 7)

In [10]:
X_train = X_Y_train.iloc[:,:X_Y_train.shape[1]-1]
print(X_train.shape)
Y_train = X_Y_train.iloc[:,-1]
print(Y_train.shape)

(667, 6)
(667,)

In [11]:
# this dataset doesnt have any corelated data. now we do data manipulation
# i.e convert string values to int type
def getNumber(str):
    if str == "male":
        return 1
    else:
        return 2
X_train['gender'] = X_train['Sex'].apply(getNumber)
del X_train['Sex']
X_test['gender'] = X_test['Sex'].apply(getNumber)
del X_test['Sex']
X_train.head()
X_test.head()

   Pclass   Age  SibSp  Parch Embarked  gender
0       2   8.0      1      1        S       1
1       1  49.0      0      0        S       2
2       3   NaN      0      0        Q       1
3       2  24.0      2      1        S       2
4       1  36.0      0      0        S       1

In [12]:
def getNumberEmbarked(str):
    if str == 'C':
        return 1
    elif str == 'Q':
        return 2
    else:
        return 3

In [13]:
X_test['Embarked'] = X_test['Embarked'].apply(getNumberEmbarked)
X_train['Embarked'] = X_train['Embarked'].apply(getNumberEmbarked)
print (X_train.head())
print (X_test.head())

   Pclass   Age  SibSp  Parch  Embarked  gender
0       2  29.0      1      0         3       2
1       3  29.0      0      0         3       1
2       2  39.0      0      0         3       1
3       3  29.0      0      4         3       2
4       3  25.0      0      0         3       1
   Pclass   Age  SibSp  Parch  Embarked  gender
0       2   8.0      1      1         3       1
1       1  49.0      0      0         3       2
2       3   NaN      0      0         2       1
3       2  24.0      2      1         3       2
4       1  36.0      0      0         3       1

In [14]:
#now we fill the testing dataset na's with corresponding media value 
print(X_test.isnull().sum())
X_test = X_test.fillna(X_test.median())
print(X_test.isnull().sum())

Pclass       0
Age         45
SibSp        0
Parch        0
Embarked     0
gender       0
dtype: int64
Pclass      0
Age         0
SibSp       0
Parch       0
Embarked    0
gender      0
dtype: int64

# Applying MACHINE LEARNING ALGORITHM on dataset

# LOGISTIC REGRESSION

In [15]:
clf_LR = LogisticRegression()

In [16]:
grid_LR = {"C":[10**i for i in range(-5,5)],"max_iter":[10**i for i in range(1,4)]}
grid_search_LR = GridSearchCV(clf_LR,grid_LR,cv=model_selection.KFold(n_splits=10,shuffle=True,random_state=1) )
#in above line of code cv s CROSS VALIDATION
grid_search_LR.fit(X_train,Y_train)

GridSearchCV(cv=KFold(n_splits=10, random_state=1, shuffle=True),
       error_score='raise',
       estimator=LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'C': [1e-05, 0.0001, 0.001, 0.01, 0.1, 1, 10, 100, 1000, 10000], 'max_iter': [10, 100, 1000]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [17]:
grid_search_LR.best_estimator_

LogisticRegression(C=0.1, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=10, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

# KNN

In [18]:
clf_KN = KNeighborsClassifier()
grid_KN = {"n_neighbors":[3,5,7,9,11]}
grid_search_KN = GridSearchCV(clf_KN,grid_KN,cv=model_selection.KFold(n_splits=10,shuffle=True,random_state=1) )
#in above line of code cv s CROSS VALIDATION
grid_search_KN.fit(X_train,Y_train)

GridSearchCV(cv=KFold(n_splits=10, random_state=1, shuffle=True),
       error_score='raise',
       estimator=KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform'),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'n_neighbors': [3, 5, 7, 9, 11]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [19]:
grid_search_KN.best_estimator_

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=3, p=2,
           weights='uniform')

#  SVM

In [20]:
clf_SVC =svm.SVC()
grid_SVC = {"C":[1e2,1e3,5e3,1e4],'gamma':[1e-2,5e-4,1e-4]}
grid_search_SVC = GridSearchCV(clf_SVC,grid_SVC,cv=model_selection.KFold(n_splits=10,shuffle=True,random_state=1) )
#in above line of code cv s CROSS VALIDATION
grid_search_SVC.fit(X_train,Y_train)

GridSearchCV(cv=KFold(n_splits=10, random_state=1, shuffle=True),
       error_score='raise',
       estimator=SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'C': [100.0, 1000.0, 5000.0, 10000.0], 'gamma': [0.01, 0.0005, 0.0001]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [21]:
grid_search_SVC.best_estimator_

SVC(C=10000.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma=0.0005, kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

# DECISION TREE

In [22]:
clf_DT = DecisionTreeClassifier()
grid_DT = {"min_samples_split":[2,5,10,15,20,25,30],
           "max_depth":[10,15,20,25,30,35],
           "min_impurity_decrease":[10**-i for i in range(2,5)]}
grid_search_DT = GridSearchCV(clf_DT,grid_DT,cv=model_selection.KFold(n_splits=10,shuffle=True,random_state=1) )
#in above line of code cv s CROSS VALIDATION
grid_search_DT.fit(X_train,Y_train)

GridSearchCV(cv=KFold(n_splits=10, random_state=1, shuffle=True),
       error_score='raise',
       estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best'),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'min_samples_split': [2, 5, 10, 15, 20, 25, 30], 'max_depth': [10, 15, 20, 25, 30, 35], 'min_impurity_decrease': [0.01, 0.001, 0.0001]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [23]:
grid_search_DT.best_estimator_

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=20,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.001, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

#  RANDOM FOREST

In [24]:
clf_RF = RandomForestClassifier(criterion='entropy')
grid_RF = {'n_estimators':[5,10,15,20,25],
          "max_depth":[10,15,20,25,30,35]}
grid_search_RF = GridSearchCV(clf_RF,grid_RF,cv=model_selection.KFold(n_splits=10,shuffle=True,random_state=1) )
#in above line of code cv s CROSS VALIDATION
grid_search_RF.fit(X_train,Y_train)

GridSearchCV(cv=KFold(n_splits=10, random_state=1, shuffle=True),
       error_score='raise',
       estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'n_estimators': [5, 10, 15, 20, 25], 'max_depth': [10, 15, 20, 25, 30, 35]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [25]:
grid_search_RF.best_estimator_

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=15, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [26]:
# calculating best scores over above used algorithms to see which works well.
print ("LOGISTICREGRESSION", grid_search_LR.best_score_)
print ("KNEARESTNEIGHBORS", grid_search_KN.best_score_)
print ("SUPPORTVECTORCLASSIFIER", grid_search_SVC.best_score_)
print ("DECISIONTREE", grid_search_DT.best_score_)
print ("RANDOMFOREST", grid_search_RF.best_score_)

LOGISTICREGRESSION 0.796101949025
KNEARESTNEIGHBORS 0.769115442279
SUPPORTVECTORCLASSIFIER 0.808095952024
DECISIONTREE 0.805097451274
RANDOMFOREST 0.806596701649

In [27]:
#on the basis of best score that we found out we are using SVC to fit our data and predict for new input data.
svc = svm.SVC(C=10000,gamma=0.0005)
svc.fit(X_train,Y_train)
y_pred = svc.predict(X_test)
print(y_pred)
print(svc.score(X_train,Y_train))
print(svc.score(X_test,y_pred))

[1 1 0 1 0 0 0 0 1 0 1 0 1 1 0 0 0 1 0 1 1 0 1 1 0 0 0 0 1 1 0 0 0 0 0 1 1
 0 0 0 1 0 0 0 1 1 0 1 0 0 0 1 1 1 0 0 1 0 0 0 0 0 1 1 1 0 0 0 1 0 0 0 0 0
 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 1 1 0 1 0 1 1 0 0 0 0 0
 1 1 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0
 1 1 1 0 0 0 1 0 0 1 0 1 0 1 1 1 1 0 0 0 1 1 1 1 1 0 1 0 0 0 0 1 0 0 0 1 1
 0 1 0 1 0 0 0 1 0 0 1 1 1 1 1 0 0 0 0 0 0 0 0 1 0 0 1 0 0 1 1 0 0 0 0 1 0
 0]
0.814092953523
1.0

In [28]:
clf = DecisionTreeClassifier(max_depth=20,min_samples_split=2,min_impurity_decrease=0.001)
clf.fit(X_train,Y_train)
Y_pred=clf.predict(X_test)
print(y_pred)
print(clf.score(X_train,Y_train))
print(clf.score(X_test,y_pred))

[1 1 0 1 0 0 0 0 1 0 1 0 1 1 0 0 0 1 0 1 1 0 1 1 0 0 0 0 1 1 0 0 0 0 0 1 1
 0 0 0 1 0 0 0 1 1 0 1 0 0 0 1 1 1 0 0 1 0 0 0 0 0 1 1 1 0 0 0 1 0 0 0 0 0
 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 1 1 0 1 0 1 1 0 0 0 0 0
 1 1 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0
 1 1 1 0 0 0 1 0 0 1 0 1 0 1 1 1 1 0 0 0 1 1 1 1 1 0 1 0 0 0 0 1 0 0 0 1 1
 0 1 0 1 0 0 0 1 0 0 1 1 1 1 1 0 0 0 0 0 0 0 0 1 0 0 1 0 0 1 1 0 0 0 0 1 0
 0]
0.87856071964
0.937219730942